@font-face {
    font-family: "DM Sans";
    font-display: swap;
    src: url("./fonts/DMSans-Regular.woff2");
}

@font-face {
    font-family: "DM Sans";
    font-display: swap;
    font-weight: 500;
    src: url("./fonts/DMSans-Medium.woff2");
}

@font-face {
    font-family: "DM Sans";
    font-display: swap;
    font-weight: 700;
    src: url("./fonts/DMSans-Bold.woff2");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-bold text-gray-900 font-sans;
    }

    h1 {
        @apply text-6xl;
    }

    h2 {
        @apply text-5xl;
    }

    h3 {
        @apply text-4xl;
    }

    h4 {
        @apply text-3xl;
    }

    h5 {
        @apply text-2xl;
    }

    h6 {
        @apply text-xl;
    }

    blockquote {
        @apply text-4xl font-serif;
    }

    p {
        @apply font-normal text-gray-700 text-base font-sans;
    }

    a,
    button {
        @apply transition-all;
    }

    a {
        @apply font-medium hover:text-primary text-black dark:text-white;
    }

    input {
        @apply block h-14 text-gray-500 px-6 font-medium w-full rounded-2xl border outline-none border-gray-300 dark:border-gray-700 dark:bg-transparent bg-transparent transition-all active:border-primary focus:border-primary dark:active:border-primary dark:focus:border-primary;
    }
}

/** Forms **/

form .form-group label > span,
form .form-group {
    @apply mb-4;
}

form .form-group label > span {
    @apply block;
}

form .form-group label {
    @apply font-medium font-sans text-gray-500;
}

form .form-group .error-feedback {
    @apply text-red-600 block mt-2 font-medium;
}

/** Buttons **/

.rounded-button {
    @apply fill-current h-10 w-10 rounded-full flex items-center justify-center text-white bg-primary hover:bg-black dark:hover:bg-white dark:hover:text-black shadow-md hover:shadow-2xl transition-all;
}

.rounded-button.danger {
    @apply bg-red-600;
}

.primary-button {
    @apply py-3 px-5 inline-block font-bold text-sm rounded-xl bg-primary text-white hover:bg-primary-light hover:text-white transition-all shadow-md hover:shadow-2xl;
}

/** Utils **/

.background {
    @apply bg-cover bg-center bg-no-repeat;
}
