@font-face {
    font-family: "DM Sans";
    font-display: swap;
    src: url("./fonts/DMSans-Regular.woff2");
}

@font-face {
    font-family: "DM Sans";
    font-display: swap;
    font-weight: 500;
    src: url("./fonts/DMSans-Medium.woff2");
}

@font-face {
    font-family: "DM Sans";
    font-display: swap;
    font-weight: 700;
    src: url("./fonts/DMSans-Bold.woff2");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-bold text-gray-900 font-sans;
    }

    h1 {
        @apply text-6xl;
    }

    h2 {
        @apply text-5xl;
    }

    h3 {
        @apply text-4xl;
    }

    h4 {
        @apply text-3xl;
    }

    h5 {
        @apply text-2xl;
    }

    h6 {
        @apply text-xl;
    }

    blockquote {
        @apply text-4xl font-serif;
    }

    p {
        @apply font-normal text-gray-700 text-base font-sans;
    }

    a,
    button {
        @apply transition-all;
    }

    a {
        @apply font-medium hover:text-primary text-black dark:text-white;
    }
}

/** Buttons **/

.rounded-button {
    @apply fill-current h-10 w-10 rounded-full flex items-center justify-center text-white bg-primary hover:bg-black dark:hover:bg-white dark:hover:text-black shadow-md hover:shadow-2xl transition-all;
}

/** Utils **/

.background {
    @apply bg-cover bg-center bg-no-repeat;
}
